html,
body {
    height: 100%;
    background-color: rgb(240, 240, 223) !important;
}

.jumbotron {
    margin-bottom: 0 !important;
}

p {
    text-align: center !important;
    font-size: 1.8rem;
    font-weight: 300;
}

a {
    color: #fff;
    background-color: transparent;
    border-color: #117a8b;
}

a:link {
    color: #fff !important;
    text-decoration: none !important;
    background-color: transparent !important;
    border-color: #117a8b !important;
}

a:visited {
    color: #fff !important;
    text-decoration: none !important;
    background-color: transparent !important;
    border-color: #117a8b !important;
}

a:hover {
    color: #fff !important;
    text-decoration: none !important;
    background-color: transparent !important;
    border-color: #117a8b !important;
}

a:active {
    color: #fff !important;
    text-decoration: none !important;
    background-color: transparent !important;
    border-color: #117a8b !important;
}

.btn-block {
    width: 15% !important;
    margin-top: 25px !important;
    margin-left: auto;
    margin-right: auto;
}

.my-2 {
    margin: 0% !important;
}

.myP {
    /* display: none; */
    text-align: center;
    margin-top: 50px !important;
}

h1,
h2 {
    text-align: center;
    margin-top: 50px !important;
}